<div style="margin-top: 2em; " class="tui-container tui-container_adaptive">
    <div class="tui-row tui-row_adaptive" *ngIf="question">
        <div style="margin-bottom: 1em;" class="tui-col_lg-12 tui-col_md-12 tui-col_xs-12">
            <h2 class="headig_card" style="margin-bottom: 1em; text-align: center;">{{question.question_order}}. {{question.question_title}}</h2>
        </div>
        <div class="tui-col_lg-11 tui-col_md-11 tui-col_xs-11">
            <tui-editor *ngIf="editing; else content"
                class="notion-editor"
                [formControl]="control"
                [tools]="builtInTools">
            </tui-editor>
            <ng-template #content>
                <tui-editor-socket class="answer_cont" [content]="question.question_body || ''"></tui-editor-socket>
            </ng-template>
            <div class="tools grey">
                <span>Дата последнего изменения: {{question.edit_date | date : 'dd.MM.YYYY'}}</span>
                <button
                *ngIf="getAdmin()"
                tuiButton
                appearance="whiteblock"
                size='s'
                (click)="editing?on_save():on_edit()"> {{editing?'Сохранить':'Редактировать'}}</button>
            </div>
            
        </div>
    </div>
</div>