<div class="layout">
    <div  class="logo"><a routerLink="/">EXAM.ME</a></div>
    <form class="search_form" (ngSubmit)="onSubmit($event)" [formGroup]="searchForm">
        <input class="search"  formControlName="search" placeholder="search question..."/>
        <input type="submit" value="Go!">
    </form>
    <button class="list_button" (click)="showList=!showList">
        or choose subject yourself 
        <span class="arrow" [ngClass]="{'active' : showList}"> ▼ </span>
    </button>
    <div class="subject_container" *ngIf="subjects.length" [ngClass]="{'active' : showList}">
        <a class="subject_card" *ngFor="let subject of subjects" routerLink="/subject/{{subject.id}}">
            <span>{{subject.name}}</span>
        </a>
    </div>
</div>