<div *ngIf="subject">
    <span class="subject">{{subject.name}}</span>
    <div class="container layout">
        <span class="question_card">
            <span>Название вопроса</span>
            <span class="date">Дата создания</span>
        </span>
        <a class="question_card" *ngFor="let question of subject.question_List; index as i" routerLink="./question/{{question.id}}">
            <span>{{i+1}}. {{question.name}}</span>
            <span class="date">{{question.date_create.getDate()}}.{{question.date_create.getMonth()}}.{{question.date_create.getFullYear()}}</span>
        </a>
    </div>
</div>
